$include-content-family:   true;
$include-secondary-family: true;

@import 'calcite-web';

blockquote {
  @extend .column-6;
  @extend .tablet-column-12;
  @extend .pre-12;
  @extend .text-gray;
  @include avenir-italic();
  margin: 0;
  border: 0;
  height: 0;
  p {
    @include font-size(-1);
  }
  @media screen and (max-width: $medium) {
    padding-left: 0;
    height: auto;
  }
}

main {
  h1, h2, h3 {
    padding-top: $baseline*1.5;
    font-family: $code-family;
    position: relative;
  }
}

.header-anchor {
  color: $lightest-gray;
  left: -1em;
  position: absolute;
  &:hover {
    color: $lighter-gray;
  }
}

h3 {
  @include leader(2);
}

